/* main. section, article, h2, p, button */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-height: 100svh;
  min-width: 100svw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

section {
  min-height: 100svh;
  width: 800px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  height: 500px;
  width: 100vw;
  display: flex;
  flex-flow: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  gap: 50px;
}

#sedans {
  background-color: hsl(31, 77%, 52%);
}

#SUVS {
  background-color: hsl(184, 100%, 22%);
}

#luxury {
  background-color: hsl(179, 100%, 13%);
}

h2 {
  font-family: "Big Shoulders";
  font-weight: 700;
  font-size: 30px;
  color: hsl(0, 0%, 95%);
}

p {
  font-family: "Lexend Deca";
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

button {
  font-family: "Lexend Deca";
  font-size: 15px;

  display: flex;
  justify-content: left;
  padding: 10px 25px;
  border: none;
  border-radius: 28px;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 85%);
}

#sedans-btn {
  color: hsl(31, 77%, 52%);
}

#SUVS-btn {
  color: hsl(184, 100%, 22%);
}

#luxury-btn {
  color: hsl(179, 100%, 13%);
}
